.slideshow {
  overflow: hidden;
  width: 91%;
  height: 390px;
  margin-inline: auto;
  margin-top: 40px;
  border-radius: 20px;
  position: relative;
}

.slideshow-image {
  object-fit: cover;
   transform: translateY(-230px); 
}

.left-arrow, .right-arrow {
  position: absolute;
  color: white;
  cursor: pointer;
  background: none;
  font-size: 200px;
  padding: 0;
  width: 60px;
  top: 10%;
  border:none;

  &:focus {
    outline: none;
  }
}

.left-arrow {
  left: 1.25%;
}

.right-arrow {
  right: 1.25%;
}

.slide-counter {
  position: absolute;
  color: white;
  border-radius: 10px;
  bottom: 5%;
  left: 50%;
}
