.slideshow {
  overflow: hidden;
  width: 91%;
  height: 390px;
  margin-top: 40px; 
  margin-inline: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  position: relative;
}

.slideshow-image {
  object-fit: cover;
   transform: translateY(-230px); 
}

.left-arrow, .right-arrow {
  position: absolute;
  color: white;
  cursor: pointer;
  background: none;
  font-size: 200px;
  padding: 0;
  width: 60px;
  top: 10%;
  border:none;

  &:focus {
    outline: none;
  }
}

.left-arrow {
  left: 1.25%;
}

.right-arrow {
  right: 1.25%;
}

.slide-counter {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 50%;
}


@media screen and (max-width: 576px){
  .slideshow {
    border-radius: 12.5px;
    height: 350px;
    margin-bottom: 15px;
  }

  .slideshow-image{
    transform: scale(1);
    width: 100%;
    height: 100%;
  }

  .left-arrow, .right-arrow{
    font-size: 70px;
    top: 37%;
  }
}