.ratings {
        width: max-content;
        display: flex;

        .empty-star {
            height: 26px;
            width: 26px;
            margin-top: 5px;
            margin-left: 3.5px;
        }

}

@media screen and (max-width: 576px) {
        .ratings {
           .full-star {
                margin: 0;
            }

            .full-star {
                 height: 25px;
                width: 25px;
            }

            .empty-star {
                margin-top: 3px;
                height: 19px;
                width: 19px;
            }
        }
}