.ratings {
        width: max-content;
        display: flex;

        .empty-star {
            height: 26px;
            width: 26px;
            margin-top: 5px;
            margin-left: 3.5px;
        }

}