header {
  margin-top: 40px;
  margin-inline: auto;
  display: flex;

  img {
    width: 200px;
    height: 65px;
    margin-right: 655px;
  }

  ul {
    list-style-type: none;
    display: flex;
    font-size: 22.5px;

    #accueil {
      margin-right: 50px;
    }

    .nav-link {
     color: black;
    }

    .nav-link.active {
      text-decoration: underline;
    }

  }
}
