header {
  margin-top: 20px;
  margin-inline: auto;
  display: flex;

  img {
    width: 200px;
    height: 60px;
    margin-right: 655px;
  }

  ul {
    list-style-type: none;
    display: flex;
    font-size: 22.5px;

    #accueil {
      margin-right: 50px;
    }

    a {
      color: black;
    }
  }
}
