header {
  margin-top: 40px;
  margin-inline: auto;
  display: flex;

  img {
    width: 200px;
    height: 65px;
    margin-right: 655px;
  }

  ul {
    list-style-type: none;
    display: flex;
    font-size: 22.5px;
    gap: 1.5rem;

    .nav-link {
      color: black;
    }

    .nav-link.active {
      text-decoration: underline;
    }

  }
}

@media screen and (max-width: 576px) {
  header {
    margin-top: 30px;
    margin-inline: auto;
    margin-bottom: 0;
    width: 90%;
    justify-content: space-between;
    gap: 2rem;

    img {
      margin-right: 0;
      width: 40%;
      height: auto;
      object-fit: contain;
    }

    nav {
      width: auto;

         ul {
      margin-top: 11px;
      padding-left: 0;

      a {
        font-size: 0.70em;
        text-transform: uppercase;
        white-space: nowrap;
      }

    }
    }
   
  }
}


@media screen and (max-width: 394px){
  header {
    nav{
      ul a {  
        font-size: 50%;
      }
    }
  }
}