footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  

  img {
    margin-top: 65px;
    margin-bottom: 5px;
  }

  p {
    font-size: 22.5px;
  }
}

@media screen and (max-width: 576px){
  footer {

    img {
      width: 172px;
      height: 60px;
      margin-top: 80px;
    }

    p {
      width: 40%;
      font-size: 19px;
      margin-inline: auto;
      margin-bottom: 85px;
      margin-top: 0;
    }
  }
}
