#root {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.cards-container {
  background-color: rgb(238, 238, 238);
  margin-top: 40px;
  margin-inline: auto;
  margin-bottom: 45px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  gap: 50px;
}

#error-code, #error-text {
          color: #FF6060;
          margin: 0;
}

#error-code {
      font-size: 250px;
      font-weight: bold;
}

#error-text {
  font-size: 32.5px;
}

#linkAccueil {
  color: black;
  text-decoration: underline;
  display: block;
  margin: 60px;
}


@media screen and (max-width: 576px){

  .home-banner {
     img {
        transform: scale(1.9);
    }    
  }

  .cards-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-inline: auto;
    width: 90%;

    .card {
      width: 100%;
    }
  }

  .about-banner {
      img {
        transform: scale(1.15);
    } 
    .overlay {
      display: none;
    }
  }

  #error-code {
    font-size: 125px;
    margin-block: 110px;
  }

  #error-text {
    font-size: 22.5px;
    width: 77%;
    margin-inline: auto;
  }

  #linkAccueil {
    margin-block: 100px;
  }
}


