.fiche-logement {

    .infos {
        display: flex;
        width: 91%;
        margin-inline: auto;

        .title-tags {
            text-align: left;
            width: 88%;


            #title {
                color: #FF6060;
                font-size: 35px;
                font-weight: normal;
                margin: 0;
            }

            #location {
                color: black;
                margin-top: 6px;
                margin-bottom: 15px;
            }

            #tag {
                background-color: #FF6060;
                border: none;
                margin-right: 10px;
                padding: 5px 25px;
                border-radius: 10px;
                font-family: inherit;
                font-weight: bold;
            }
        }

        .host-ratings {
            margin-top: -25px;
            width: 12%;
            position: relative;

            #host {
                display: flex;
                width: max-content;
                position: absolute;
                right: 0;

                #host-name {
                    color: #FF6060;
                    font-size: 17.5px;
                    text-align: right;
                    margin-right: 8px;
                    width: min-content;
                }

                #host-picture {
                    border-radius: 50%;
                    width: 65px;
                    height: 65px;
                    margin-top: 11.8px;
                }
            }

            .ratings {
                position: absolute;
                right: 0;
                top: 45px;                
            }
        }
    }

    .description-equipements {
            display: flex;
            width: 91%;
            margin: 0 auto;
            justify-content: space-between;
            gap: 6%;
            align-items: flex-start;            
            
            .collapse {
                margin-top: 25px;                
            }
        }
}


@media screen and (max-width: 576px){
    .fiche-logement{
        .infos{
            flex-direction: column;

            .title-tags{
                width: 100%;
                #title{
                font-size: 22.5px;
                width: 80%;
            }

            #location {
                margin-block: 10px;
            }
            }            

            .host-ratings{
                position: static;
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;


                #host {
                    position: relative;
                    right: auto;
                }

                .ratings {
                    position: relative;
                    right: auto;
                    top: auto;
                }

            }
        }
    }
}