.banner {
    position: relative;    
    margin-top: 30px;
    width: 1150px;
    height: 220px;
    overflow: hidden;
    border-radius: 25px;


    img {
    max-height: 100%;
    width: 1150px;
    object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

h1 {
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 2.6em;
    width: 100%;
    top: 25%;
}
}



@media screen and (max-width: 576px){
  .banner {
    width: 90%;
    margin-inline: auto;
    height: 150px;
    border-radius: 15px;

    img {
      width: 100%;
    }

    h1 {
      font-size: 2em;
      margin: 0;
      text-align: left;
      width: 66%;
      margin-left: 20px;
    }
  }
}

